<div class="bg-gray-100 p-4  h-[70vh] overflow-auto">
    <div class="max-w-3xl mx-auto">
  
      <!-- Tabla -->
      <table class="min-w-full bg-white rounded-lg overflow-auto h-screen">
        <thead class="bg-gray-200">
          <tr>
            <th class="w-1/4 px-4 py-2">ID</th>
            <th class="w-1/4 px-4 py-2">Nombre</th>
            <th class="w-1/4 px-4 py-2">Acciones</th>
          </tr>
        </thead>
        <tbody>
          @for (data of arregloGet; track data.id_perfil) {
          <tr>
              <td class="border px-4 py-2">{{data.id_perfil}}</td>
              <td class="border px-4 py-2">{{data.nombre_perfil}}</td>
              <td class="border px-4 py-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Editar</button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Eliminar</button>
              </td>
            </tr>
          }
          <!-- Puedes agregar más filas aquí -->
        </tbody>
      </table>
  
      
    </div>
  </div>
  <!-- Formulario -->
  <form class="mt-8 px-36" action="#" method="POST">
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre_perfil">Nombre de Perfil</label>
      <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="nombre_perfil" type="text" placeholder="Nombre de Perfil">
    </div>
    <!-- Puedes agregar más campos aquí -->
    <div class="flex items-center justify-between">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Guardar</button>
    </div>
  </form>